<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-table #dt [value]="estudiantes" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '3rem' }"
                [rowsPerPageOptions]="[5, 10, 20]" [globalFilterFields]="['codigo', 'persona.nombre', 'persona.apellido', 'persona.dni', 'persona.correo', 'persona.telefono', 'persona.pais', 'persona.religion', 'estado', 'ciclo', 'grupo', 'correo_institucional']"
                responsiveLayout="scroll" [selection]="selectedEstudiantes" selectionMode="multiple" [(selection)]="selectedEstudiantes" dataKey="id" (selectionChange)="onSelectionChange()">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center gap-3">
                        <div class="flex flex-wrap gap-2">
                            <p-splitButton label="Nuevo" icon="pi pi-plus" class="p-button-success" (onClick)="showDialogCreate()" [model]="menuItems" severity="success"></p-splitButton>
                            <button pButton pRipple label="Eliminar" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedEstudiantes()" [disabled]="!selectedEstudiantes || selectedEstudiantes.length === 0"></button>
                        </div>
                        <h5 class="text-center">Manage Estudiantes</h5>
                        <div class="flex align-items-center">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..." 
                                    class="w-full sm:w-auto" />
                            </span>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="codigo">Código <p-sortIcon field="codigo"></p-sortIcon></th>
                        <th pSortableColumn="ciclo">Ciclo <p-sortIcon field="ciclo"></p-sortIcon></th>
                        <th pSortableColumn="grupo">Grupo <p-sortIcon field="grupo"></p-sortIcon></th>
                        <th pSortableColumn="correo_institucional">Correo Institucional <p-sortIcon field="correo_institucional"></p-sortIcon></th>
                        <th pSortableColumn="persona.nombre">Nombre <p-sortIcon field="persona.nombre"></p-sortIcon></th>
                        <th pSortableColumn="persona.apellido">Apellido <p-sortIcon field="persona.apellido"></p-sortIcon></th>
                        <th pSortableColumn="persona.dni">DNI <p-sortIcon field="persona.dni"></p-sortIcon></th>
                        <th pSortableColumn="persona.correo">Correo <p-sortIcon field="persona.correo"></p-sortIcon></th>
                        <th pSortableColumn="persona.telefono">Teléfono <p-sortIcon field="persona.telefono"></p-sortIcon></th>
                        <th pSortableColumn="persona.pais">País <p-sortIcon field="persona.pais"></p-sortIcon></th>
                        <th pSortableColumn="persona.religion">Religión <p-sortIcon field="persona.religion"></p-sortIcon></th>
                        <th pSortableColumn="estado">Estado <p-sortIcon field="estado"></p-sortIcon></th>
                        <th>Acción</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-estudiante>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="estudiante"></p-tableCheckbox>
                        </td>
                        <td>
                            <span class="p-column-title">ID</span>
                            {{ estudiante.id }}
                        </td>
                        <td>
                            <span class="p-column-title">Código</span>
                            {{ estudiante.codigo }}
                        </td>
                        <td>
                            <span class="p-column-title">Ciclo</span>
                            {{ estudiante.ciclo }}
                        </td>
                        <td>
                            <span class="p-column-title">Grupo</span>
                            {{ estudiante.grupo }}
                        </td>
                        <td>
                            <span class="p-column-title">Correo Institucional</span>
                            {{ estudiante.correo_institucional }}
                        </td>
                        <td>
                            <span class="p-column-title">Nombre</span>
                            {{ estudiante.persona.nombre }}
                        </td>
                        <td>
                            <span class="p-column-title">Apellido</span>
                            {{ estudiante.persona.apellido }}
                        </td>
                        <td>
                            <span class="p-column-title">DNI</span>
                            {{ estudiante.persona.dni }}
                        </td>
                        <td>
                            <span class="p-column-title">Correo</span>
                            {{ estudiante.persona.correo }}
                        </td>
                        <td>
                            <span class="p-column-title">Teléfono</span>
                            {{ estudiante.persona.telefono }}
                        </td>
                        <td>
                            <span class="p-column-title">País</span>
                            {{ estudiante.persona.pais }}
                        </td>
                        <td>
                            <span class="p-column-title">Religión</span>
                            {{ estudiante.persona.religion }}
                        </td>
                        <td>
                            <span class="p-column-title">Estado</span>
                            {{ estudiante.persona.estado }}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning mr-2" (click)="showDialogEdit(estudiante.id)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="showDialogDelete(estudiante)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>          
        </div>
    </div>
</div>

<p-dialog header="{{titulo}}" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <div class="p-fluid">
        <!-- Existing fields -->
        <div class="p-field">
            <label for="codigo">Codigo</label>
            <input id="codigo" type="text" pInputText [(ngModel)]="estudiante.codigo" required />
        </div>
        <div class="p-field">
            <label for="ciclo">Ciclo</label>
            <input id="ciclo" type="text" pInputText [(ngModel)]="estudiante.ciclo" required />
        </div>
        <div class="p-field">
            <label for="grupo">Grupo</label>
            <input id="grupo" type="text" pInputText [(ngModel)]="estudiante.grupo" required />
        </div>
        <div class="p-field">
            <label for="correoin">Correo Institucional</label>
            <input id="correoin" type="email" pInputText [(ngModel)]="estudiante.correo_institucional" required />
        </div>
        <div class="p-field">
            <label for="nombre">Nombre</label>
            <input id="nombre" type="text" pInputText [(ngModel)]="persona.nombre" required />
        </div>

        <div class="p-field">
            <label for="apellido">Apellido</label>
            <input id="apellido" type="text" pInputText [(ngModel)]="persona.apellido" required />
        </div>

        <div class="p-field">
            <label for="dni">DNI</label>
            <input id="dni" type="text" pInputText [(ngModel)]="persona.dni" required />
        </div>

        <div class="p-field">
            <label for="correo">Correo</label>
            <input id="correo" type="email" pInputText [(ngModel)]="persona.correo" required />
        </div>

        <div class="p-field">
            <label for="telefono">Teléfono</label>
            <input id="telefono" type="text" pInputText [(ngModel)]="persona.telefono" required />
        </div>
        <div class="p-field">
            <label for="pais">País</label>
            <input id="pais" type="text" pInputText [(ngModel)]="persona.pais" required />
        </div>
        <div class="p-field">
            <label for="religion">Religión</label>
            <input id="religion" type="text" pInputText [(ngModel)]="persona.religion" required />
        </div>
        <div class="p-field">
            <label for="estado">Estado</label>
            <input id="estado" type="text" pInputText [(ngModel)]="estudiante.estado" required />
        </div>
    </div>
    <p-footer>
        <button pButton icon="pi pi-times" label="Cancelar" (click)="limpiar()"></button>
        <button pButton icon="pi pi-check" label="{{opc}}" (click)="opcion()"></button>
    </p-footer>
</p-dialog>

