<div class="card solicitud-form">
  <h3>Solicitud de Carta de Presentación</h3>
  <h5>Registrar Solicitud</h5>

  <div class="p-grid form-container">
    <!-- Datos del Estudiante -->
    <div class="p-col-6">
      <label for="estudianteNombre">Apellidos y Nombres</label>
      <input
        id="estudianteNombre"
        type="text"
        pInputText
        [(ngModel)]="solicitud.estudiante.nombre"
        placeholder="{{solicitud.estudiante.nombre}}"
        disabled
      />
    </div>

    <!-- Empresa -->
<!-- Empresa -->
<div class="p-col-6">
  <label for="empresa">Empresa</label>
  <p-dropdown
    id="empresa"
    [options]="empresas" 
    optionLabel="razon_Social"
    optionValue="id" 
    [(ngModel)]="solicitud.empresa"
    placeholder="Seleccione una empresa"
  ></p-dropdown>
</div>


    <!-- Línea de Carrera -->
    <div class="p-col-6">
      <label for="linea">Línea de Carrera</label>
      <p-dropdown 
      [options]="lineas" 
      optionLabel="nombre" 
      [(ngModel)]="selectedLinea" 
      placeholder="Selecciona una línea">
    </p-dropdown>
    </div>
  </div>

  <!-- Botones -->
  <div class="buttons-container">
    <button
      pButton
      label="Limpiar Formulario"
      class="p-button-secondary"
      (click)="onClearForm()"
    ></button>
    <button
      pButton
      label="Enviar Solicitud"
      class="p-button-success"
      (click)="onSubmitSolicitud()"

    ></button>
  </div>
</div>
